{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 48.8588897,
    "longitude": 2.3200410217200766,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Paris",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "FR",
    "language": "en",
    "radius": 100
  }
}